.textcolor{
	color: white;
	
}
.panel-heading{
	border-bottom: 7px solid #00642e;
    border-bottom-width: 7px;
    border-bottom-style: solid;
    border-bottom-color: rgb(0, 100, 46);
    background: #d0d2d2;
}
.line{
	border-right: 3px solid #c9c7ba;
    border-right-width: 3px;
    border-right-style: solid;
    border-right-color: rgb(201, 199, 186);

    border-left: 3px solid #c9c7ba;
    border-left-width: 3px;
    border-left-style: solid;
    border-left-color: rgb(201, 199, 186);
}
.footer{
    border-bottom: 7px solid #00642e;
    border-bottom-width: 7px;
    border-bottom-style: solid;
    border-bottom-color: rgb(0, 100, 46);
   
}

.aa {
    margin: 1px auto;
    width: 120%;
    border: 2px solid #ccc; 
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: left;
}
.rating > span {
  display: inline-block;
  position: relative;
  /*width: 1.1em;*/
}
.rating > span:hover,
.rating > span:hover ~ span {
  color: transparent;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   left: 0; 
   color: gold;
   cursor: pointer;
}

.selected{color:gold;}
